<main class="demo-main mdl-layout__content">
  <div class="demo-container mdl-grid">
    <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
    <section><h2>Get all your stuff done!</h2>

      <%= image_tag("kittyrainbow.jpg") %>
      <br>
      <h5>
        This is the place! This is the place where all your get-stuff-done dreams come true!
      </h5>

    </div>
  </div>
</div>
